alembic==1.13.2
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
redis==5.0.4
fastapi==0.111.0
pydantic==2.8.0
pydantic-settings==2.3.4
gunicorn==22.0.0
uvicorn==0.30.4
fastapi-users[sqlalchemy]==13.0.0
black==24.8.0
psycopg2==2.9.2
psycopg2-binary==2.9.9
PyJWT==2.8.0
aiokafka==0.11.0
fastapi-pagination==0.12.27
beanie==1.26.0
python-slugify==8.0.4
sentry-sdk==2.14.0